* {
	position: relative;
	box-sizing: border-box;
}

body {
	background: #f0f0ff;
}

.main-title {
	font-family: 'Alfa Slab One', cursive;
	font-size: 50px;
	text-align: center;
	color: #fff;
	transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.main-title li {
	font-family: 'Roboto';
}

@media (max-width: 768px) {
	.main-title .name {
		font-size: 28px;
	}
}

.name {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.intro-copy {
	max-width: 390px;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.4;
	color: #333;
	margin: 20px auto;
	text-align: center;
}

@media (max-width: 425px) {
	.intro-copy {
		padding: 0 2%;
	}
}

.direction-copy {
	max-width: 390px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	color: #333;
	margin: 0 auto;
	text-align: center;
}

.error-anim {
	animation-name: grow-shrink;
	animation-duration: 0.2s;
}

.main-search {
	margin-top: 28px;
}

.search-toggle {
    margin: 0.8rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 10px;
	min-height: 100px;
	max-height: 200px;
	text-align: center;
}

.search-toggle:hover {
	background-color: #c5cae9;
}

.search-toggle:active p {
	text-decoration: none;
}

.search-toggle p {
	text-decoration: underline;
}

.search-toggle img {
	display: inline-block;
	min-height: 118px;
	max-width: 180px;
	width: 100%;
}

@keyframes grow-shrink {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

.hidden {
	display: none;
}

.shop-panels {

}

.shop-panel {

}

.material-icons {
    display: inline-block;
    vertical-align: middle;
}

.input-field {
/*	display: inline-block;
*/    vertical-align: middle;
}




